<a href="https://colab.research.google.com/github/roshanakhi/Roshan_Chowdary_INFO5502_SPRING2022/blob/main/lab_assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

I have taken  the most popular baby names dataset which names are quite common to every one which everyone.
Initially i have taken the data
loaded the data
which i have 2 pages so i dividede each Page
after that i have merged the 2 PAGES
Which i have collected only the first 1000 samples from the dataset

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [4]:


from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

guns=[]
rank=[]

re=['https://www.thebump.com/b/most-popular-baby-names','https://www.thebump.com/b/most-popular-baby-names']

da=requests.get(re[0])
soup=bs(da.content,'html.parser')
guns=soup.find_all('div',class_='jsx-3985190551 name')
rank=soup.find_all('div',class_='jsx-3985190551 ranking')
da1=requests.get(re[1])
soup=bs(da.content,'html.parser')
gun=soup.find_all('div',class_='jsx-3985190551 name')
ran=soup.find_all('div',class_='jsx-3985190551 ranking')

gu=guns+gun
ra=rank+ran
baby_names=pd.DataFrame()
baby_names['rank']=ra
baby_names['names']=gu
baby_names

      rank      names
0      [1]     [Zion]
1      [2]      [Kai]
2      [3]    [Maeve]
3      [4]     [Luca]
4      [5]     [Nova]
..     ...        ...
995  [496]   [Hayley]
996  [497]   [Sutton]
997  [498]     [Cain]
998  [499]  [Presley]
999  [500]    [Rayna]

[1000 rows x 2 columns]

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

I have selected the data which initilly i have divided the data in 3 different categories
like New, Old and damaged

After dividing the dataframes

which i have used the index values in the dataframes to identify the data

using different methods like string or list based on the data which you are using 

using the dataframes , pandas in python i have applied the map function to remove unecessary data which is not usable for me

changing the names of the data based on my usage or my understandable from an external file or link which i have taken.

Then, we can build a classifier model to classify the data as spam or not spam.

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)

In [ ]:
# 1.)

import glob
result_bf12 =  pd.DataFrame()
# we iterate through both datasets 
for dataset in ['TwADR-L', 'AskAPatient']:
    result = {}
    bf0 = pd.DataFrame()
    for filepath in glob.glob('/content/gdrive/My Drive/datasets/{}/*.txt'.format(dataset)):
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        bf0 = bf0.append(data)
    # we create combined dataframe by combining Each dataset text files.
    bf0 = bf0.reset_index(drop=True)
    bf0['phrase_label'] = bf0[1] + " " + bf0[2]
    bf0.columns = ['id', 'labels', 'phrases', 'phrase-label']
    # type casting to str
    bf0 = bf0.astype({"id": str})
    # converting all values to lower case
    for columns in bf0.columns:
        bf0[columns] = bf0[columns].str.lower() 

    # dropping duplicates
    bf0 = bf0.drop_duplicates('phrase-label')

    # storing results of the table in dictionary
    result['Unique_phrases'] = len(bf0['phrases'].unique())
    result['Unique_labels'] = len(bf0['labels'].unique())
    result['Unique_phrase_label_pairs'] = bf0.shape[0]
    bf1 = pd.DataFrame(bf['phrases'].value_counts())
    result['Phrases with multiple labels'] = bf1[bf1['phrases'] > 1].shape[0]
    result['Min examples per label'] = bf0['labels'].value_counts().values.min()
    result['Max examples per label'] = bf0['labels'].value_counts().values.max()
    result['Avg examples per label'] = round(bf0['labels'].value_counts().mean(), 2)
    result_bf12 = result_bf12.append(result, ignore_index=True)


result_bf12 = result_bf12.T
result_bf12 = result_bf12.astype({0: int, 1: int})
result_bf12.columns = ['TwADR-L', 'AskAPatient']

result_bf12

                              TwADR-L  AskAPatient
Unique_phrases                   2944         4470
Unique_labels                    2220         1038
Unique_phrase_label_pairs        3157         4507
Phrases with multiple labels      173           35
Min examples per label              1            1
Max examples per label             36          141
Avg examples per label              1            4

In [ ]:
# 2.)

import glob
result_bf12 = pd.DataFrame()
# we iterate through both datasets 
for dataset in ['TwADR-L', 'AskAPatient']:
    bf0 = pd.DataFrame()
    result = {}
    for filepath in glob.glob('/content/gdrive/My Drive/datasets/{}/*.txt'.format(dataset)):
        #print(filepath)
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        bf0 = bf0.append(data)
    # we create combined dataframe by combining Each dataset text files.
    bf0 = bf0.reset_index(drop=True)
    bf0['phrase_label'] = bf0[1] + " " + bf0[2]
    bf0.columns = ['id', 'labels', 'phrases', 'phrase-label']
    
    bf0 = bf0.astype({"id": str})
    # converting to lower case
    for columns in bf0.columns:
        bf0[columns] = bf0[columns].str.lower() 

    # we drop duplicates that are phrase-label pairs... 
    bf0 = bf0.drop_duplicates('phrase-label')

    index_list = []
    for i in range(bf0.shape[0]):
        if bf0['labels'].value_counts()[bf0.iloc[i]['labels']] < 5:
            index_list.append(i)

    # we drop the labels that have less than count of 5.
    bf0.drop(bf0.index[index_list], inplace=True)
    result = {}
    # storing results of the table in dictionary
    result['Unique_phrases'] = len(bf0['phrases'].unique())
    result['Unique_labels'] = len(bf0['labels'].unique())
    result['Unique_phrase_label_pairs'] = bf0.shape[0]
    bf1 = pd.DataFrame(bf0['phrases'].value_counts())
    result['Phrases with multiple labels'] = bf1[bf1['phrases'] > 1].shape[0]
    result['Min examples per label'] = bf0['labels'].value_counts().values.min()
    result['Max examples per label'] = bf0['labels'].value_counts().values.max()
    result['Avg examples per label'] = round(bf0['labels'].value_counts().mean(), 2)
    # appending dictinary to dataframe
    result_bf0 = result_bf0.append(result, ignore_index=True)

result_bf0 = result_bf0.T
result_bf0 = result_bf0.astype({0: int, 1: int})
result_bf0.columns = ['TwADR-L', 'AskAPatient']

result_bf0

                              TwADR-L  AskAPatient
Unique_phrases                    616         2665
Unique_labels                      76          233
Unique_phrase_label_pairs         721         2686
Phrases with multiple labels       87           19
Min examples per label              5            5
Max examples per label             36          141
Avg examples per label              9           11