<a href="https://colab.research.google.com/github/roshanakhi/Roshan_Chowdary_INFO5502_SPRING2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [15]:
# write your answer here
givenString = input()
uniqueChar = set(givenString)
count = {}
for i in uniqueChar:
    count[i] = 0
for i in givenString:
    count[i] += 1
print(count)

google.com
{'c': 1, 'm': 1, 'g': 2, '.': 1, 'l': 1, 'e': 1, 'o': 3}

(2) Write a Python program to sum all the items in a list. (5 points)

In [4]:
# write your answer here
A=[]
n=int(input(''))
for i in range(n):
  a=int(input(''))
  A.append(a)
print(sum(A))

3
2
3
4
9

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
a=input()
b=a[0]
c=len(a)
a=a.replace(b,'$')
a=b+a[1:]
print(a)

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [11]:
# write your answer here
a = int(input())
b = int(input())
s = 3.14 * (1 + a / b) ** 3
print(s)

1
3
7.4429629629629614

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
# write your answer here
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
print({**dic1, **dic2, **dic3})

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [9]:
# write your answer here
a = ("test", "exam", "examination")
print(a.__contains__("tests"))
print(a.__contains__("test"))

False
True

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [8]:
# write your answer here
a = set([10, 4, 23, 435, 43, 5])
print(max(a))
print(min(a))

435
4

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [7]:
# write your answer here
import random
student_list = ['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229', 'kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141',
                'jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458', 'sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640',
                'sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500', 'aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']
random_list = []
for i in range(0, 5):
    random_list.append([])
i = 0
while len(student_list) != 0:
    randomNumber = random.randint(0, len(student_list)-1)
    temp = student_list.pop(randomNumber)
    if len(random_list[i]) >= 6:
        i += 1
    random_list[i].append(temp)
print(random_list)

[['sa1198', 'nv0234', 'sk1386', 'sm1640', 'gn0108', 'nm0618'], ['kg0470', 'vm0377', 'jl1252', 'ds0814', 'bg0320', 'sc1229'], ['av0659', 'sg1297', 'ja0964', 'hy0232', 'kg0569', 'aos0040'], ['sk1390', 'sm1907', 'ms1500', 'fh0141', 'sk1458', 'vb0218'], ['sb1357', 'sk1313', 'pr0353', 'dr0609', 'ak0956', 'ak0934']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [6]:
# write your answer here
givenList = [int(x) for x in input().split()]
duplicateElements = []
for indexI, i in enumerate(givenList):
    for indexJ, j in enumerate(givenList):
        if i == j and indexI != indexJ:
            duplicateElements.append(i)
            break
if len(duplicateElements) == 0:
    print(-1)
else:
    print(list(set(duplicateElements)))

1 23 54 7 1
[1]

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [5]:
# write your answer here
from datetime import date, timedelta
year = int(input())
startDate = date(year, 1, 1)
for i in range(7):
    startDate += timedelta(days=1)
    # print(startDate.weekday())
    if startDate.weekday() == 6:
        break
date = []
while startDate.year == year:
    date.append(str(startDate))
    startDate += timedelta(weeks=1)
print(date)

2000
['2000-01-02', '2000-01-09', '2000-01-16', '2000-01-23', '2000-01-30', '2000-02-06', '2000-02-13', '2000-02-20', '2000-02-27', '2000-03-05', '2000-03-12', '2000-03-19', '2000-03-26', '2000-04-02', '2000-04-09', '2000-04-16', '2000-04-23', '2000-04-30', '2000-05-07', '2000-05-14', '2000-05-21', '2000-05-28', '2000-06-04', '2000-06-11', '2000-06-18', '2000-06-25', '2000-07-02', '2000-07-09', '2000-07-16', '2000-07-23', '2000-07-30', '2000-08-06', '2000-08-13', '2000-08-20', '2000-08-27', '2000-09-03', '2000-09-10', '2000-09-17', '2000-09-24', '2000-10-01', '2000-10-08', '2000-10-15', '2000-10-22', '2000-10-29', '2000-11-05', '2000-11-12', '2000-11-19', '2000-11-26', '2000-12-03', '2000-12-10', '2000-12-17', '2000-12-24', '2000-12-31']